<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.looye.mapper.CatMapper2">
    <insert id="save" parameterType="com.looye.entity.Cat">

    </insert>

    <select id="queryByName" parameterType="java.lang.String" resultType="com.looye.entity.Cat">
        select id,cat_age catAge,cat_name catName, colour from cat
        where 1=1
        <if test="name != null">
            and cat_name = #{name}
        </if>
    </select>

</mapper>